<div class="articles">
    <br>
    <div class="alert alert-info" role="alert">
        <strong>None Scraped!</strong> Click
        <a href="#" class="alert-link scrape-btn">here</a>, to scrape more recipes.
    </div>
</div>