body {
    font-family: 'Varela Round', sans serif;
}

.brand {
    font-family: 'Berkshire Swash', Sans Serif;
    color: #d9534f;
}

.card {
    width: 25%;
    height: 100%;
    float: left;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-img-overlay {
    height: 90%;
}

.saved-overlay {
    height: 80%;
}

.card-title {
    font-size: 1.75em;
    text-shadow: 2px 2px black;
}

.card-img {
    width: 100%;
    height: 100%;
}

.save-button {
    margin-top: -35px;
}

/* Media Queries */
@media screen and (max-width:768px) {
    .card-title {
        font-size: 1.5em;
    }
    .card-img-overlay {
        height: 85%;
    }
}

@media screen and (max-width:640px) {
    .card-title {
        font-size: 1.1em;
    }
    .save-article {
        font-size: .8em;
    }
}

@media screen and (max-width:480px) {
    .card {
        width: 50%;
    }
    .card-title {
        font-size: 1.5em;
    }
    .save-article {
        font-size: .8em;
    }
}